#urlbar {
  text-align: center;

}

#urlbar-input {
  color: var(--tf-accent)!important;
}

#urlbar-background {
  background-color: transparent !important;
  border: unset !important;
  box-shadow: unset !important;
}
.urlbarView {
  text-align: start;
  margin-top: 4px;
  background-color: var(--tf-bg);
  border: var(--border-width) solid var(--tf-accent) !important;
  border-radius: 0 0 var(--tf-rounding) var(--tf-rounding);
}
.urlbarView-body-inner {
  #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
    border-top: unset !important;
  }
}
.urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
  border-top: var(--border-width) solid var(--tf-accent) !important;
}

.urlbarView-title {
  color: var(--tf-accent) !important;
}

.panel-type-urlbar .urlbarView-row[selected] {
  background-color: var(tf-accent) !important; /* your custom color */
  color: var(--tf-bg) !important; /* selected row text color */
}

